<!-- Marquee Banner -->
<!-- EDIT THIS TEXT: Change the content inside the <span> tags below to update the scrolling banner text. -->
<!-- You can also duplicate the <span> blocks to make the banner longer or change the speed in assets/css/custom.css -->
<div class="marquee-container">
  <div class="marquee-track">
    <span>RYAN BOURKE // AUDIO ENGINEER // MIXING // MASTERING // RECORDING // SOUND EDITING //&nbsp;</span>
    <span>RYAN BOURKE // AUDIO ENGINEER // MIXING // MASTERING // RECORDING // SOUND EDITING //&nbsp;</span>
    <span>RYAN BOURKE // AUDIO ENGINEER // MIXING // MASTERING // RECORDING // SOUND EDITING //&nbsp;</span>
    <span>RYAN BOURKE // AUDIO ENGINEER // MIXING // MASTERING // RECORDING // SOUND EDITING //&nbsp;</span>
  </div>
</div>
